In [ ]:
import pandas as pd
import datetime as dt
import numpy as np

In [ ]:
path = 'C:/Users/jakec/Documents/DataAnalyticsBootCamp/Project/Big-Five-Stocks/Resources/'

raw_stock_data = pd.read_csv(f'{path}big_five_stocks.csv')

raw_company_data = pd.read_csv(f'{path}company_data.csv',encoding='iso-8859-1')

In [ ]:
raw_stock_data.columns = ['date','name','open','close','high','low','volume']
# or could do the following:
#raw_data.rename(columns={'Unnamed: 0':'date'},inplace=TRUE)

In [ ]:
raw_stock_data['date'] = pd.to_datetime(raw_stock_data['date'])

raw_company_data['founded'] = pd.to_datetime(raw_company_data['founded'])

In [ ]:
companies = raw_company_data
companies = companies.reset_index()
companies['company'] = companies['index']
companies = companies.drop(labels=['company_name','index'],axis=1)

In [ ]:
raw_stock_data['year'] = pd.DatetimeIndex(raw_stock_data['date']).year

In [ ]:
raw_stock_data = raw_stock_data.set_index('date')

raw_company_data = raw_company_data.set_index('index')

In [ ]:
#start_date = '1/1/2015'
stonks = raw_stock_data.loc['2015-01-01':'2019-08-23']

In [ ]:
stonks = stonks.reset_index()

In [ ]:
#stonks.insert(loc=0,column='index',value=np.arange(len(stonks)))

In [ ]:
stonks.isnull().values.any()

In [ ]:
amzn = stonks.loc[stonks['name']=='AMZN',]
#amzn = amzn.drop(labels=['name','index'],axis=1)
amzn = amzn.drop(labels=['name'],axis=1)

fb = stonks.loc[stonks['name']=='FB',]
#fb = fb.drop(labels=['name','index'],axis=1)
fb = fb.drop(labels=['name'],axis=1)

ixic = stonks.loc[stonks['name']=='^IXIC',]
#ixic = ixic.drop(labels=['name','index'],axis=1)
ixic = ixic.drop(labels=['name'],axis=1)

googl = stonks.loc[stonks['name']=='GOOGL',]
#googl = googl.drop(labels=['name','index'],axis=1)
googl = googl.drop(labels=['name'],axis=1)

msft = stonks.loc[stonks['name']=='MSFT',]
#msft = msft.drop(labels=['name','index'],axis=1)
msft = msft.drop(labels=['name'],axis=1)

aapl = stonks.loc[stonks['name']=='AAPL',]
#aapl = aapl.drop(labels=['name','index'],axis=1)
aapl = aapl.drop(labels=['name'],axis=1)

year15 = stonks.loc[stonks['year']==2015,]
year15 = year15.drop(labels='year',axis=1)

year16 = stonks.loc[stonks['year']==2016,]
#year16 = year16.drop(labels=['year','index'],axis=1)
year16 = year16.drop(labels=['year'],axis=1)
#year16.insert(loc=0,column='index',value=np.arange(len(year16)))

year17 = stonks.loc[stonks['year']==2017,]
#year17 = year17.drop(labels=['year','index'],axis=1)
year17 = year17.drop(labels=['year'],axis=1)
#year17.insert(loc=0,column='index',value=np.arange(len(year17)))

year18 = stonks.loc[stonks['year']==2018,]
year18 = year18.drop(labels=['year'],axis=1)
#year18.insert(loc=0,column='index',value=np.arange(len(year18)))

year19 = stonks.loc[stonks['year']==2019,]
year19 = year19.drop(labels=['year'],axis=1)
#year19.insert(loc=0,column='index',value=np.arange(len(year19)))

In [ ]:
stonks['name_date'] = stonks['name'].astype(str) + stonks['date'].astype(str)
year15['name_date'] = year15['name'].astype(str) + year15['date'].astype(str)
year16['name_date'] = year15['name'].astype(str) + year16['date'].astype(str)
year17['name_date'] = year17['name'].astype(str) + year17['date'].astype(str)
year18['name_date'] = year18['name'].astype(str) + year18['date'].astype(str)
year19['name_date'] = year19['name'].astype(str) + year19['date'].astype(str)

In [ ]:
stonks.head()

In [ ]:
amzn.head()

In [ ]:
year15.head()

In [ ]:
year16.head()

In [ ]:
# Create the aggregate dataframe
agg_stonks = stonks.groupby(['name','year']).agg({'open':'mean','close':'mean','high':'mean','low':'mean','volume':'sum'})
#agg_stonks
agg_stonks = agg_stonks.reset_index()
agg_stonks['name_year'] = agg_stonks['name'].astype(str) + agg_stonks['year'].astype(str)
#agg_stonks = agg_stonks.drop(labels=['name','year'],axis=1)

In [ ]:
agg_stonks[['open','close','high','low']] = agg_stonks[['open','close','high','low']].round(decimals=2)

In [ ]:
agg_stonks.columns = ['name','year','avg_open','avg_close','avg_high','avg_low','total_volume','name_year']

In [ ]:
agg_stonks.head()

In [ ]:
# Import SQL Alchemy
from sqlalchemy import create_engine
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float# Import SQL Alchemy
from sqlalchemy import create_engine
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float

In [ ]:
Base = declarative_base()

In [ ]:
## We've got our dataframes, now let's create our classes

class Stonks(Base):
    __tablename__ = 'stonks'
    name_date = Column(String(20),primary_key=True,unique=True)
    date = Column(String(10))
    year = Column(String(4))
    name = Column(String(6))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Amzn(Base):
    __tablename__ = 'amazn'
    date = Column(String(10),primary_key=True,unique=True)
    year = Column(String(4))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Fb(Base):
    __tablename__ = 'fb'
    date = Column(String(10),primary_key=True,unique=True)
    year = Column(String(4))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Aapl(Base):
    __tablename__ = 'aapl'
    date = Column(String(10),primary_key=True,unique=True)
    year = Column(String(4))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Ixic(Base):
    __tablename__ = 'ixic'
    date = Column(String(10),primary_key=True,unique=True)
    year = Column(String(4))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Googl(Base):
    __tablename__ = 'googl'
    date = Column(String(10),primary_key=True,unique=True)
    year = Column(String(4))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Msft(Base):
    __tablename__ = 'msft'
    date = Column(String(10),primary_key=True,unique=True)
    year = Column(String(4))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Year15(Base):
    __tablename__ = 'year15'
    name_date = Column(String(20),primary_key=True,unique=True)
    date = Column(String(10))
    name = Column(String(6))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Year16(Base):
    __tablename__ = 'year16'
    name_date = Column(String(20),primary_key=True,unique=True)
    date = Column(String(10))
    name = Column(String(6))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Year17(Base):
    __tablename__ = 'year17'
    name_date = Column(String(20),primary_key=True,unique=True)
    date = Column(String(10))
    name = Column(String(6))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Year18(Base):
    __tablename__ = 'year18'
    name_date = Column(String(20),primary_key=True,unique=True)
    date = Column(String(10))
    name = Column(String(6))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Year19(Base):
    __tablename__ = 'year19'
    name_date = Column(String(20),primary_key=True,unique=True)
    date = Column(String(10))
    name = Column(String(6))
    open = Column(Integer)
    close = Column(Integer)
    high = Column(Integer)
    low = Column(Integer)
    volume = Column(Integer)
class Companies(Base):
    __tablename__ = 'companies'
    company = Column(String(10),primary_key=True,unique=True)
    ticker_symbol = Column(String(6))
    founded = Column(String(15))
    headquarters = Column(String(50))
    revenue_2019 = Column(Integer)
    operating_income_2019 = Column(Integer)
    net_income_2019 = Column(Integer)
    total_assets_2019 = Column(Integer)
    total_equity_2019 = Column(Integer)
    num_employees = Column(Integer)
class Agg_stonks(Base):
    __tablename__ = 'agg_stonks'
    name_year = Column(String(15),primary_key=True,unique=True)
    name = Column(String(6))
    year = Column(String(4))
    avg_open = Column(Integer)
    avg_close = Column(Integer)
    avg_high = Column(Integer)
    avg_low = Column(Integer)
    total_volume = Column(Integer)

In [ ]:
engine = create_engine("sqlite:///stonks.sqlite")
conn = engine.connect()

In [ ]:
Base.metadata.create_all(conn)

In [ ]:
data = engine.execute("SELECT * FROM stonks LIMIT 10")
for data in data:
    print(data)

In [ ]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [ ]:
stonks.to_sql("stonks",engine,if_exists='replace')
agg_stonks.to_sql("agg_stonks",engine,if_exists='replace')
amzn.to_sql("amazn",engine,if_exists='replace')
fb.to_sql("fb",engine,if_exists='replace')
aapl.to_sql("aapl",engine,if_exists='replace')
ixic.to_sql("ixic",engine,if_exists='replace')
googl.to_sql("googl",engine,if_exists='replace')
msft.to_sql("msft",engine,if_exists='replace')
year15.to_sql("year15",engine,if_exists='replace')
year16.to_sql("year16",engine,if_exists='replace')
year17.to_sql("year17",engine,if_exists='replace')
year18.to_sql("year18",engine,if_exists='replace')
year19.to_sql("year19",engine,if_exists='replace')
companies.to_sql("companies",engine,if_exists='replace')

In [ ]:
Base.metadata.tables

In [ ]:
data = engine.execute("SELECT * FROM companies")
for data in data:
    print(data)

In [ ]:
data = engine.execute("SELECT * FROM stonks LIMIT 10")
for data in data:
    print(data)